<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>43a192576cf409ad2e94733c1965_640_900.cj.jpg_b9fa4496_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>167.00</string>
		<key>sales</key>
		<string>89</string>
		<key>title</key>
		<string>春季学院风灯芯绒背带裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>63a672225c9fdf3b59f554bf68b3_640_841.cj.jpg_7b851d44_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>89.55</string>
		<key>sales</key>
		<string>11</string>
		<key>title</key>
		<string>圆领流苏直筒打底衫连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>956e17680e36df45e7bdfa8fd463_800_1200.cj.jpg_45da637c_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>890.89</string>
		<key>sales</key>
		<string>118</string>
		<key>title</key>
		<string>气质喇叭袖公主蕾丝连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>3862b9c16b31d527074450c42d70_640_832.cj.jpg_b7f726a1_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>77.11</string>
		<key>sales</key>
		<string>10</string>
		<key>title</key>
		<string>甜美木耳领系带雪纺连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>4521d487ede0b7020f3d622b8d4b_640_960.cj.jpg_554baaa7_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>67.90</string>
		<key>sales</key>
		<string>67</string>
		<key>title</key>
		<string>韩系小清新长袖格子连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>8093a8ee1e94448d70aaef78ca5a_640_832.cj.jpg_e79a79f2_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>55.90</string>
		<key>sales</key>
		<string>708</string>
		<key>title</key>
		<string>修身气质蕾丝连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>9719814899ffa7b8dde7d0b3d466_640_843.cf.jpg_4172bee0_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>79.00</string>
		<key>sales</key>
		<string>61</string>
		<key>title</key>
		<string>春季新款伞形蕾丝连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ae2c13f2720f74086fc5ef4c9b58_640_832.cj.jpg_bbcca114_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>109.11</string>
		<key>sales</key>
		<string>78</string>
		<key>title</key>
		<string>纯色半高领蕾丝收腰连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>b4384b616700cd6725200d88f95e_800_1200.cj.jpg_08575444_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>708.00</string>
		<key>sales</key>
		<string>67</string>
		<key>title</key>
		<string>韩版呢子拼接蕾丝连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>cae039d4f04bb67628a5d7aa2ede_640_832.cj.jpg_915e359d_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>108.00</string>
		<key>sales</key>
		<string>61</string>
		<key>title</key>
		<string>撞色波点系带A字连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>d2ceabf0f2e3ba6259cc818bc16b_640_900.cj.jpg_2cdf70b0_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>208.00</string>
		<key>sales</key>
		<string>100</string>
		<key>title</key>
		<string>韩版高腰毛呢半身裙短裙子</string>
	</dict>
	<dict>
		<key>image</key>
		<string>d8205ae5778f5bb9091839d6d95b_800_1200.cj.jpg_23f8dfa6_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>508.00</string>
		<key>sales</key>
		<string>80</string>
		<key>title</key>
		<string>韩版纯色无袖针织连衣裙女</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ddbb0168f92dcd58a0e05b2e0289_640_900.cj.jpg_356f7c50_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>109.11</string>
		<key>sales</key>
		<string>61</string>
		<key>title</key>
		<string>名媛修身吊带蕾丝连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>f5fd9f98da0be47b869c43e3bcfb_640_832.cj.jpg_1b51b46f_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>98.00</string>
		<key>sales</key>
		<string>108</string>
		<key>title</key>
		<string>甜美花边领多层蛋糕连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>fac393e00a1988ca7047ecf4dcf4_640_900.cj.jpg_be1d1169_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>90.00</string>
		<key>sales</key>
		<string>78</string>
		<key>title</key>
		<string>跳跃女孩印花雪纺百褶裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ffa6287082849abaeb5a39c649f8_640_900.cj.jpg_6be01af0_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>79.00</string>
		<key>sales</key>
		<string>18</string>
		<key>title</key>
		<string>甜美圆领碎花荷叶边连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>b8036b865cab6a275282c99b369d_640_832.cj.jpg_31d9a8df_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>91.00</string>
		<key>sales</key>
		<string>61</string>
		<key>title</key>
		<string>欧美优雅七分袖直筒连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>6b3b5ce6af4aed654a7a4cba1177_640_832.cj.jpg_ae6c7dc1_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>208.00</string>
		<key>sales</key>
		<string>90</string>
		<key>title</key>
		<string>少女碎花百褶打底连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>d97f3e43567466181a31cde150b2_640_832.cj.jpg_dc970d01_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>68.00</string>
		<key>sales</key>
		<string>70</string>
		<key>title</key>
		<string>印花打底长袖雪纺连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>550b2816a28330e0d0eaa77c4ad1_640_832.cj.jpg_66992360_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>90.10</string>
		<key>sales</key>
		<string>70</string>
		<key>title</key>
		<string>新款韩版系带雪纺连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>f66d480e5517117170540228f282_640_832.cj.jpg_37f3a3fb_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>901.11</string>
		<key>sales</key>
		<string>888</string>
		<key>title</key>
		<string>中长款时尚长袖连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>fb1429a4bd462d625491926aa790_640_832.cj.jpg_42e4583c_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>168.00</string>
		<key>sales</key>
		<string>891</string>
		<key>title</key>
		<string>新款收腰显瘦蕾丝连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>dd86082eafb089d2a890bd777f63_640_832.cj.jpg_4f1636ae_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>111.00</string>
		<key>sales</key>
		<string>891</string>
		<key>title</key>
		<string>领口系带波点连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ffa6287082849abaeb5a39c649f8_640_900.cj.jpg_6be01af0_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>131.00</string>
		<key>sales</key>
		<string>11</string>
		<key>title</key>
		<string>简约修身鱼尾针织包臀中裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>6b3b5ce6af4aed654a7a4cba1177_640_832.cj.jpg_ae6c7dc1_s3_q0_150_5_0_224_340-1</string>
		<key>price</key>
		<string>61.00</string>
		<key>sales</key>
		<string>12</string>
		<key>title</key>
		<string>百搭拼接百褶背心式连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>c07995f75c742308eced922a0f0c_640_832.cj.jpg_9d5669d0_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>211.00</string>
		<key>sales</key>
		<string>11</string>
		<key>title</key>
		<string>蕾丝连衣裙修身显瘦打底裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>847959644317523db7115703587d_640_960.cj.jpg_8c737b27_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>81.00</string>
		<key>sales</key>
		<string>88</string>
		<key>title</key>
		<string>春装性感蕾丝连衣裙</string>
	</dict>
	<dict>
		<key>image</key>
		<string>f57fc2febf40e70fc646c1a46309_640_832.cj.jpg_700b4bdc_s3_q0_150_5_0_224_340</string>
		<key>price</key>
		<string>78.00</string>
		<key>sales</key>
		<string>56</string>
		<key>title</key>
		<string>森系气质收腰棉麻连衣裙</string>
	</dict>
</array>
</plist>
