<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>李怀超</string>
	<string>赵国栋</string>
	<string>李培然</string>
	<string>高俊娜</string>
	<string>丁聪</string>
	<string>张庆亮</string>
	<string>迟远浩</string>
	<string>房立骞</string>
	<string>程永辉</string>
	<string>王矗</string>
	<string>张超群</string>
	<string>胡娜</string>
	<string>李争</string>
	<string>聂豆豆</string>
	<string>赵彤彤</string>
	<string>武翰林</string>
	<string>宁建帅</string>
	<string>张岩</string>
	<string>李兵兵</string>
	<string>孙法力</string>
	<string>张保雨</string>
	<string>吝一豪</string>
	<string>李剑虹</string>
	<string>刘华磊</string>
	<string>李建华</string>
	<string>李辉</string>
	<string>贵旭冉</string>
	<string>张梦华</string>
	<string>董要刚</string>
	<string>朱鑫</string>
	<string>仇丽</string>
	<string>周安德</string>
	<string>程北洋</string>
	<string>冯伟伟</string>
	<string>姜雪</string>
</array>
</plist>
