<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>title</key>
			<string>UIView</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIView</string>
					<key>className</key>
					<string>JQDemoViewControllerD1</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UILabel</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UILabel</string>
					<key>className</key>
					<string>JQDemoViewControllerD2</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIImageView</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIImageView</string>
					<key>className</key>
					<string>JQDemoViewControllerD3</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIButton</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIButton</string>
					<key>className</key>
					<string>JQDemoViewControllerD4</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UITextField</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UITextField</string>
					<key>className</key>
					<string>JQDemoViewControllerD5</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>其他常用控件</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>其他常用控件</string>
					<key>className</key>
					<string>JQDemoViewControllerD6</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>简单动画</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>自定义指示器</string>
					<key>className</key>
					<string>JQDemoViewControllerD7</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>简单动画</string>
					<key>className</key>
					<string>JQDemoViewControllerD7</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>基本动画</string>
					<key>className</key>
					<string>JQDemoViewControllerD7</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>转场动画</string>
					<key>className</key>
					<string>JQDemoViewControllerD7</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>动画应用</string>
					<key>className</key>
					<string>JQDemoViewControllerD7</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>视图控制器</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>生命周期</string>
					<key>className</key>
					<string>JQBaseViewController</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>模态视图</string>
					<key>className</key>
					<string>JQDemoViewControllerD8</string>
					<key>flag</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>导航控制器</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>导航控制器</string>
					<key>className</key>
					<string>JQDemoViewControllerD9</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>自定义导航栏</string>
					<key>className</key>
					<string>JQDemoViewControllerD9</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIView</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIBarButtonItem补充</string>
					<key>className</key>
					<string>JQDemoViewControllerD10</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>UITextField补充</string>
					<key>className</key>
					<string>JQDemoViewControllerD10</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>标签控制器</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>标签控制器</string>
					<key>className</key>
					<string>JQDemoViewControllerD11</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Nav+TabBar</string>
					<key>className</key>
					<string>JQBaseTabBarController</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>自定义标签栏</string>
					<key>className</key>
					<string>JQDemoViewControllerD11</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>其他</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIApplication</string>
					<key>className</key>
					<string>JQDemoViewControllerD12</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>UIWindow</string>
					<key>className</key>
					<string>JQDemoViewControllerD12</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>自定义AlertView</string>
					<key>className</key>
					<string>JQDemoViewControllerD12</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>手势</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>触摸事件</string>
					<key>className</key>
					<string>JQDemoViewControllerD13</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>摇一摇</string>
					<key>className</key>
					<string>JQDemoViewControllerD13</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>UIGestureRecognizer</string>
					<key>className</key>
					<string>JQDemoViewControllerD13</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIScrollView</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIScrollView</string>
					<key>className</key>
					<string>JQDemoViewControllerD14</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>图片轮播</string>
					<key>className</key>
					<string>JQDemoViewControllerD14</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>图片缩放</string>
					<key>className</key>
					<string>JQDemoViewControllerD14_2</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>UIScrollView复用</string>
					<key>className</key>
					<string>JQDemoViewControllerD14_3</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UITextView</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UITextView</string>
					<key>className</key>
					<string>JQDemoViewControllerD15</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UITableView</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UITableView</string>
					<key>className</key>
					<string>JQDemoViewControllerD16</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>TEST</string>
					<key>className</key>
					<string>JQCarViewController</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>TEST2</string>
					<key>className</key>
					<string>JQIndustryViewController</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>TEST3</string>
					<key>className</key>
					<string>JQWeChatViewController</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>UITableViewController</string>
					<key>className</key>
					<string>JQBaseTableViewController</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>单元格</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>删除移动单元格</string>
					<key>className</key>
					<string>JQDemoViewControllerD17</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>批量操作单元格</string>
					<key>className</key>
					<string>JQDemoViewControllerD17</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>自定义单元格</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>自定义单元格</string>
					<key>className</key>
					<string>JQDemoViewControllerD18</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>自定义单元格</string>
					<key>className</key>
					<string>JQDemoViewControllerD18</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UISearchController</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>NSPredicate</string>
					<key>className</key>
					<string>JQDemoViewControllerD19</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>UISearchController</string>
					<key>className</key>
					<string>JQDemoViewControllerD19</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>微博</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>微博</string>
					<key>className</key>
					<string>JQDemoViewControllerD20</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UICollectionView</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UICollectionView</string>
					<key>className</key>
					<string>JQDemoViewControllerD21</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>蘑菇街</string>
					<key>className</key>
					<string>JQDemoViewControllerD21_2</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Nav+TableView</string>
					<key>className</key>
					<string>JQDemoViewControllerD21_3</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UICollectionViewLayout</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>图片轮播UICollectionView</string>
					<key>className</key>
					<string>JQDemoViewControllerD22</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>线性布局</string>
					<key>className</key>
					<string>JQDemoViewControllerD22_2</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>瀑布流</string>
					<key>className</key>
					<string>JQDemoViewControllerD22_3</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIPickerView&amp;绘图</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIPickerView</string>
					<key>className</key>
					<string>JQDemoViewControllerD23</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>城市选择器</string>
					<key>className</key>
					<string>JQDemoViewControllerD23_2</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>时间选择器</string>
					<key>className</key>
					<string>JQDemoViewControllerD23_3</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>绘图</string>
					<key>className</key>
					<string>JQDemoViewControllerD23_3</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>绘图进阶</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>统计图</string>
					<key>className</key>
					<string>JQDemoViewControllerD24</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>图片操作</string>
					<key>className</key>
					<string>JQDemoViewControllerD24_2</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>画板</string>
					<key>className</key>
					<string>JQDemoViewControllerD24_3</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>核心动画</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>CALayer</string>
					<key>className</key>
					<string>JQDemoViewControllerD25</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>CABasicAnimation</string>
					<key>className</key>
					<string>JQDemoViewControllerD25</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>CAKeyframeAnimation</string>
					<key>className</key>
					<string>JQDemoViewControllerD25</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>CATransition</string>
					<key>className</key>
					<string>JQDemoViewControllerD25</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>CAAnimationGroup</string>
					<key>className</key>
					<string>JQDemoViewControllerD25</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>CADisplayLink</string>
					<key>className</key>
					<string>JQDemoViewControllerD25_2</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UI部分应用</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>级联菜单</string>
					<key>className</key>
					<string>JQDemoViewControllerD26</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>图标抖动</string>
					<key>className</key>
					<string>JQDemoViewControllerD26</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>NSThread&amp;GCD</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>NSThread</string>
					<key>className</key>
					<string>JQDemoViewControllerD27</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>GCD</string>
					<key>className</key>
					<string>JQDemoViewControllerD27</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>NSOperation</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>NSOperation</string>
					<key>className</key>
					<string>JQDemoViewControllerD28</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>NSOperation线程通信</string>
					<key>className</key>
					<string>JQDemoViewControllerD28</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>美团列表图片下载</string>
					<key>className</key>
					<string>JQDemoViewControllerD18</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>SDWebImage</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>无沙盒图片下载</string>
					<key>className</key>
					<string>JQDemoViewControllerD29</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>沙盒</string>
					<key>className</key>
					<string>JQDemoViewControllerD29</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>有沙盒图片下载</string>
					<key>className</key>
					<string>JQDemoViewControllerD29_2</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>NSCache</string>
					<key>className</key>
					<string>JQDemoViewControllerD29_3</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>NSCache图片下载</string>
					<key>className</key>
					<string>JQDemoViewControllerD29_3</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>SDWebImage图片下载</string>
					<key>className</key>
					<string>JQDemoViewControllerD29_4</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>加载网络GIF</string>
					<key>className</key>
					<string>JQDemoViewControllerD29_4</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>网络请求&amp;数据解析</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>网络请求</string>
					<key>className</key>
					<string>JQDemoViewControllerD30</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>GET&amp;POST</string>
					<key>className</key>
					<string>JQDemoViewControllerD30</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>JSON数据解析</string>
					<key>className</key>
					<string>JQDemoViewControllerD30</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>XML数据解析</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>SAX解析</string>
					<key>className</key>
					<string>JQDemoViewControllerD31</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>SAX解析封装</string>
					<key>className</key>
					<string>JQDemoViewControllerD31</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>DOM解析</string>
					<key>className</key>
					<string>JQDemoViewControllerD31</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>NSURLSession&amp;AFN</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>NSURLSession</string>
					<key>className</key>
					<string>JQDemoViewControllerD32</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>NSURLSession应用</string>
					<key>className</key>
					<string>JQDemoViewControllerD32_2</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>AFNetworking</string>
					<key>className</key>
					<string>JQDemoViewControllerD32_3</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>常用第三方库</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>加密</string>
					<key>className</key>
					<string>JQDemoViewControllerD33</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>本地存储密码</string>
					<key>className</key>
					<string>JQDemoViewControllerD33</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>文件解压</string>
					<key>className</key>
					<string>JQDemoViewControllerD33</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>简单封装</string>
					<key>className</key>
					<string>JQDemoViewControllerD33_2</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>项目应用</string>
					<key>className</key>
					<string>JQDemoViewControllerD33_3</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>刷新加载原理</string>
					<key>className</key>
					<string>JQDemoViewControllerD33_4</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIWebView</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIWebView</string>
					<key>className</key>
					<string>JQDemoViewControllerD34</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>OC与JS交互</string>
					<key>className</key>
					<string>JQDemoViewControllerD34</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>屏幕适配</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>约束应用</string>
					<key>className</key>
					<string>JQDemoViewControllerD35</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>约束动画</string>
					<key>className</key>
					<string>JQDemoViewControllerD35</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Masonry</string>
					<key>className</key>
					<string>JQDemoViewControllerD35_2</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>友盟</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>友盟社会化分享</string>
					<key>className</key>
					<string>JQDemoViewControllerD36</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
