<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sections</key>
	<array>
		<dict>
			<key>title</key>
			<string>UIView</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIView</string>
					<key>className</key>
					<string>JQDemoViewControllerD1</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UILabel</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UILabel</string>
					<key>className</key>
					<string>JQDemoViewControllerD2</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIImageView</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIImageView</string>
					<key>className</key>
					<string>JQDemoViewControllerD3</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIButton</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIButton</string>
					<key>className</key>
					<string>JQDemoViewControllerD4</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UITextField</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UITextField</string>
					<key>className</key>
					<string>JQDemoViewControllerD5</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>其他常用控件</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>其他常用控件</string>
					<key>className</key>
					<string>JQDemoViewControllerD6</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>简单动画</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>自定义指示器</string>
					<key>className</key>
					<string>JQDemoViewControllerD7</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>简单动画</string>
					<key>className</key>
					<string>JQDemoViewControllerD7</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>基本动画</string>
					<key>className</key>
					<string>JQDemoViewControllerD7</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>转场动画</string>
					<key>className</key>
					<string>JQDemoViewControllerD7</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>动画应用</string>
					<key>className</key>
					<string>JQDemoViewControllerD7</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>视图控制器</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>生命周期</string>
					<key>className</key>
					<string>JQBaseViewController</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>模态视图</string>
					<key>className</key>
					<string>JQDemoViewControllerD8</string>
					<key>flag</key>
					<true/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>导航控制器</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>导航控制器</string>
					<key>className</key>
					<string>JQDemoViewControllerD9</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>自定义导航栏</string>
					<key>className</key>
					<string>JQDemoViewControllerD9</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>UIView</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIBarButtonItem补充</string>
					<key>className</key>
					<string>JQDemoViewControllerD10</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>UITextField补充</string>
					<key>className</key>
					<string>JQDemoViewControllerD10</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>标签控制器</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>标签控制器</string>
					<key>className</key>
					<string>JQDemoViewControllerD11</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>Nav+TabBar</string>
					<key>className</key>
					<string>JQBaseTabBarController</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>自定义标签栏</string>
					<key>className</key>
					<string>JQDemoViewControllerD11</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>其他</string>
			<key>rows</key>
			<array>
				<dict>
					<key>title</key>
					<string>UIApplication</string>
					<key>className</key>
					<string>JQDemoViewControllerD12</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>UIWindow</string>
					<key>className</key>
					<string>JQDemoViewControllerD12</string>
					<key>flag</key>
					<false/>
				</dict>
				<dict>
					<key>title</key>
					<string>自定义AlertView</string>
					<key>className</key>
					<string>JQDemoViewControllerD12</string>
					<key>flag</key>
					<false/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
