<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>time</key>
		<string>刚刚</string>
		<key>message</key>
		<string>好好学习，天天向上！</string>
		<key>name</key>
		<string>冯伟伟</string>
		<key>icon</key>
		<string>01.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>上午10:21</string>
		<key>message</key>
		<string>晚上请你吃饭</string>
		<key>name</key>
		<string>保密</string>
		<key>icon</key>
		<string>02.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>上午9:51</string>
		<key>message</key>
		<string>在干嘛</string>
		<key>name</key>
		<string>胡志强</string>
		<key>icon</key>
		<string>03.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>上午8:51</string>
		<key>message</key>
		<string>德哥，明天迟到发红包哟</string>
		<key>name</key>
		<string>球球</string>
		<key>icon</key>
		<string>04.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>凌晨0:21</string>
		<key>message</key>
		<string>发工资了，好开心啊</string>
		<key>name</key>
		<string>程北洋</string>
		<key>icon</key>
		<string>05.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>昨天</string>
		<key>message</key>
		<string>中午老地方吃饭，我等你们</string>
		<key>name</key>
		<string>杨老师</string>
		<key>icon</key>
		<string>06.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>昨天</string>
		<key>message</key>
		<string>爱拼才会赢！！！加油</string>
		<key>name</key>
		<string>张洋</string>
		<key>icon</key>
		<string>07.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>昨天</string>
		<key>message</key>
		<string>记得看《跑男》哟</string>
		<key>name</key>
		<string>Angelbaby</string>
		<key>icon</key>
		<string>10.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>前天</string>
		<key>message</key>
		<string>你看我帅不帅？</string>
		<key>name</key>
		<string>隔壁老王</string>
		<key>icon</key>
		<string>09.png</string>
	</dict>
	<dict>
		<key>time</key>
		<string>前天</string>
		<key>message</key>
		<string>一天忙的像狗了</string>
		<key>name</key>
		<string>高国贫</string>
		<key>icon</key>
		<string>08.png</string>
	</dict>
</array>
</plist>
