<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>shop_image</key>
		<string>haixianzizhu.jpg</string>
		<key>shop_name</key>
		<string>鑫海汇海自助烤肉</string>
		<key>shop_desc</key>
		<string>[八里庄]单人午餐自助，提供免费WiFi，免预约</string>
		<key>p_price</key>
		<string>55.9</string>
		<key>shop_price</key>
		<string>179</string>
		<key>distance</key>
		<string>709m</string>
		<key>market</key>
		<string>3134</string>
	</dict>
	<dict>
		<key>shop_image</key>
		<string>xielaosong.jpg</string>
		<key>shop_name</key>
		<string>蟹老宋</string>
		<key>shop_desc</key>
		<string>[北京]2-3人餐，免费停车，麻辣鲜香，纯正浓郁，尽享特色香锅</string>
		<key>p_price</key>
		<string>98</string>
		<key>shop_price</key>
		<string>231</string>
		<key>distance</key>
		<string>973m</string>
		<key>market</key>
		<string>36395</string>
	</dict>
	<dict>
		<key>shop_image</key>
		<string>yihaoshengyin.jpg</string>
		<key>shop_name</key>
		<string>亿好声音量贩KTV</string>
		<key>shop_desc</key>
		<string>[八里庄]周一至周五欢唱7小时，2涨券起用，提供免费WiFi</string>
		<key>p_price</key>
		<string>29.9</string>
		<key>shop_price</key>
		<string>249</string>
		<key>distance</key>
		<string>1.3km</string>
		<key>market</key>
		<string>12367</string>
	</dict>
	<dict>
		<key>shop_image</key>
		<string>ziguangyuan.jpg</string>
		<key>shop_name</key>
		<string>紫光园</string>
		<key>shop_desc</key>
		<string>[十里堡等]100元代金券1张，可叠加，免预约</string>
		<key>p_price</key>
		<string>88</string>
		<key>shop_price</key>
		<string>100</string>
		<key>distance</key>
		<string>1.4km</string>
		<key>market</key>
		<string>3134</string>
	</dict>
	<dict>
		<key>shop_image</key>
		<string>huoyanshan.jpg</string>
		<key>shop_name</key>
		<string>火宴山</string>
		<key>shop_desc</key>
		<string>[2店通用]自取晚餐，免预约</string>
		<key>p_price</key>
		<string>83</string>
		<key>shop_price</key>
		<string>88</string>
		<key>distance</key>
		<string>2.7km</string>
		<key>market</key>
		<string>3134</string>
	</dict>
	<dict>
		<key>shop_image</key>
		<string>383ca60af8dcc40d495bf8c816eb3fa187087.jpg</string>
		<key>shop_name</key>
		<string>赛百味</string>
		<key>shop_desc</key>
		<string>[八里庄等]单人餐，免费WiFi，免预约</string>
		<key>p_price</key>
		<string>32</string>
		<key>shop_price</key>
		<string>56</string>
		<key>distance</key>
		<string>1.8km</string>
		<key>market</key>
		<string>3134</string>
	</dict>
	<dict>
		<key>shop_image</key>
		<string>96894188640477.jpg</string>
		<key>shop_name</key>
		<string>福口居</string>
		<key>shop_desc</key>
		<string>[6店通用]北京地区商家指定啤酒，豆浆，酸梅汤免费，其他地区南瓜饮、酸梅汤、8种青菜免费，其他酒水不包含。</string>
		<key>p_price</key>
		<string>79</string>
		<key>shop_price</key>
		<string>108</string>
		<key>distance</key>
		<string>1.7km</string>
		<key>market</key>
		<string>3010</string>
	</dict>
	<dict>
		<key>shop_image</key>
		<string>49265eb50f8522a3d33d55f3040875d875554.jpg</string>
		<key>shop_name</key>
		<string>麻辣诱惑</string>
		<key>shop_desc</key>
		<string>[26店通用]除酒水、饮料、湿巾外全场通用，可叠加使用，提供免费WiFi。</string>
		<key>p_price</key>
		<string>94</string>
		<key>shop_price</key>
		<string>118</string>
		<key>distance</key>
		<string>1.3km</string>
		<key>market</key>
		<string>8910</string>
	</dict>
	<dict>
		<key>shop_image</key>
		<string>48a79a307a89351156b6418522f435f3111262.jpg</string>
		<key>shop_name</key>
		<string>木生火烤研院</string>
		<key>shop_desc</key>
		<string>[知春路]除酒水外全场通用，可叠加使用，可免费使用包间，提供免费WiFi。</string>
		<key>p_price</key>
		<string>120</string>
		<key>shop_price</key>
		<string>150</string>
		<key>distance</key>
		<string>0.8km</string>
		<key>market</key>
		<string>1920</string>
	</dict>
	<dict>
		<key>shop_image</key>
		<string>5f9acc1f26dbc83cc8fade3123df62b6115252.jpg</string>
		<key>shop_name</key>
		<string>蝎王府</string>
		<key>shop_desc</key>
		<string>[17店通用]除酒水饮料外全场通用，可叠加使用999张，可免费使用包间。</string>
		<key>p_price</key>
		<string>89</string>
		<key>shop_price</key>
		<string>100</string>
		<key>distance</key>
		<string>0.5km</string>
		<key>market</key>
		<string>2101</string>
	</dict>
	<dict>
		<key>shop_image</key>
		<string>d6ef97a8f7f1235da69dd78b662fd40874866.jpg</string>
		<key>shop_name</key>
		<string>紫光园</string>
		<key>shop_desc</key>
		<string>[10店通用]可叠加使用，可免费使用包间，提供免费WiFi。</string>
		<key>p_price</key>
		<string>189</string>
		<key>shop_price</key>
		<string>230</string>
		<key>distance</key>
		<string>0.2km</string>
		<key>market</key>
		<string>2401</string>
	</dict>
</array>
</plist>
